@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@1,300&display=swap');


/* The whole website */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: fit-content;
}

html{
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  background-color: #efebec;
  font-family: 'Poppins', sans-serif;
}

::selection{
  background-color: rgb(255, 255, 255);
  color: black;
}


/* The navigation bar/Name, biography, hobbies, best movies, attributions and contact*/

main#navigation{
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 400ms ease-in-out ;
  background: rgba(0, 0, 0, 0.9);
}

main.scrolled{
  background: rgba(0, 0, 0, 1);
}

#navigation nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

#navigation img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  margin-left: 0px;
}

/* BIOGRAPHY, HOBBIES, BEST MOVIES, ATTRIBUTIONS */

 #navigation li{
  list-style: none;
 }

  .nav_links{
  display: flex;
  align-items: center;
  margin-right: 20px;
 }


 #navigation nav a{
  
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: all 300ms;
  padding: 10px 20px;
}


#navigation nav a:hover{
  color: darkred;
}

#navigation nav a:active{
  opacity: 0.7;
}

#navigation ion-icon{
  width: 50px;
  height: 50px;
  color: white;
  position: absolute;
  left: 85%;
  top: 13px;
}


@media (max-width: 600px) {

  #navigation nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  #navigation img{
    position: absolute;
    right: 85%;
    top: 5px;
  }

  .nav_links{
    flex-direction: column;
    gap: 2rem;
    margin-top: 100px;
    margin-bottom: 30px;
    display: none;
  }

  .nav_links.active{
    display: flex;
  }

}

@media (min-width: 600px ) {
  #navigation ion-icon{
    display: none;
  }
}


/* CONTACT */

.contact{
  border-radius: 10px;
  padding: 8px 25px;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 600ms;
}

.contact:hover{
  background-color: white;
}


.contact:active{
  opacity: 0.5;
}


/* About me section */


header#About_me{
  height:100vh;
  width: 100%;
  background-image: url(./Images/neom-9hWJs7iblh8-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#About_me{
  display: flex;
  justify-content: center;
  align-items: center;
}

#About_me img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
  border: black 5px solid;
  margin: 0px 30px 30px 300px;
}

/* H2 and Paragraph */  

#About_me h2{
  font-size: 50px;
  color: white;
  margin-top: 150px;
}

#About_me p{
  font-size: 15px;
  color: white;
}
/* About Me Media Query Section */


@media (max-width: 400px) {
  header#About_me{
    height:200vh;
    width: 100%;
    background-image: url(./Images/neom-9hWJs7iblh8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #About_me img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    border: black 5px solid;
    margin: 0px 100px 0px 130px;
  }
  #About_me h2{
    font-size: 40px;
    color: white;
    text-align: center;
  }
  #About_me p{  
    font-size: 15px;
    color: white;
    text-align: center;
    margin-inline: 50px;
  }
}
@media (min-width: 400px) {
  header#About_me{
    height:100vh;
    width: 100%;
    background-image: url(./Images/neom-9hWJs7iblh8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #About_me img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    float: left;
    border: black 5px solid;
    margin: 150px 20px 0px 20px;
  }
  #About_me h2{
    font-size: 40px;
    color: white;
    margin-top: 160px;
  }
  #About_me p{  
    font-size: 15px;
    color: white;
    margin: 0px 20px 0px 40px;
  }
}
@media (min-width: 768px) {
  #About_me img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    border: black 5px solid;
    margin: 120px 20px 0px 100px;
  }
  #About_me h2{
    font-size: 40px;
    color: white;
    margin-top: 170px;
  }
  #About_me p{
    margin: 0px 100px 0px 100px;
    font-size: 15px;
    color: white;
  }
}

@media (min-width: 992px) {
  header#About_me{
    height:100vh;
    width: 100%;
    background-image: url(./Images/neom-9hWJs7iblh8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #About_me img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: left;
    border: black 5px solid;
    margin: 90px 20px 150px 100px;
  }
  #About_me p{
    margin: 0px 100px 0px 100px;
    font-size: 15px;
    color: white;
  }
} 


/* The Hobbies section using DISPLAY GRID*/

section#Hobbies{
  height: 100vh;
}

#Hobbies{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Hobbies h3{
  font-size: 90px;
}


#Hobbies ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}

#Hobbies nav a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: all 600ms;
  background-color: white;
  padding: 8px;
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
  overflow: hidden;
  border-radius: 10px;
}

#Hobbies nav a:hover{
  border: silver;
  padding: 15px;
  background-color: black;
  color: white;
}

@media (max-width: 600px) {
  section#Hobbies{
    height: 200vh;
  }
  
}


/* The Best Movies Section using DISPLAY FLEX */


section#Best_Movies{
  height: 100vh;
}

#Best_Movies{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#Best_Movies h3{
  font-size: 90px;
}


#Best_Movies ol{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  margin-inline: 10px;
}


#Best_Movies a{
  color: black;
  text-decoration: none;
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
  font-weight: bold;
  padding: 8px;
  font-size: 20px;
  transition: all 500ms;
  overflow: hidden;
  border-radius: 10px;
}

#Best_Movies li a:hover{
  background-color: black;
  color: white;
  padding: 23px;
  
}

@media (max-width: 600px) {
  section#Best_Movies{
    height: 200vh;
  }

  #Best_Movies h3{
    font-size: 90px;
    text-align: center;
  }
  
}


/* The Attribution/Tables section */

section#Attributions{
  height: 100vh;
}

#Attributions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#Attributions h3{
  text-align: center;
  font-size: 90px;
}


#Attributions table{
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
}


#Attributions th, td{
  padding: 10px 25px;
}

#Attributions th{
  color: white;
  background-color: #000000;
}



#Attributions .second_row td{
 background-color: rgb(207, 204, 204);
}

#Attributions table{
  border-collapse: collapse;
  max-width: 100%;
} 



/* "GO TO IMAGE LINK */

#Attributions a{
  text-decoration: none;
}

@media (max-width: 600px){
  section#Attributions{
    height: 200vh;
  }
  #Attributions h3{
    margin-bottom: 0px;
    text-align: center;
    font-size: 70px;
  }
}

/* The last section(footer) of the portfolio website, Contact information */

section#Contact{
  height: 100vh;
}

#Contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}


#Contact h2{
  font-size: 50px;
  text-align: center;
}

/* FIRST NAME, LAST NAME, EMAIL ADDRESS, COMMENTS/QUESTIONS */

#Contact input[type=text]{
  width: 300px;
  height: 30px;
  padding-inline: 10px;
  border-radius: 4px; 
}


.comments{
  width: 300px;
  height: 100px;  
  padding-inline: 10px;
  border-radius: 4px; 
}


/* SEND MESSAGE BUTTON */

#Contact a{
  margin-top: 20px;
  color: white;
  background-color: #33b864;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  transition: all 300ms;
  text-decoration: none;
}

#Contact a:hover{
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
  transform: translateX(2px) translateY(-2px) scale(1.1);
}

#Contact a:active{
  padding: 10px;
  transform:scale(1);
}

@media (max-width: 600px) {
  section#Contact{
    height: 200vh;
  }
}

/* Javascript for loops and even or odd */

section#Js{
  min-width: 100px;
  min-height: 100px;
  padding: 150px 0;
}

#Js{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#Js h1{
  text-align: center;
}

/* Javascript Classes */
.even{
  margin-bottom: 3px;
}

.odd{
  color: grey;
  margin-bottom: 3px;
}


/* Footer #2 for copyright and contact information */


footer#info{
  padding: 30px 0;
  background-color: #021d2f;
}

#info{
  color: white;
}

#info h3{
  margin-left: 20px;
  margin-bottom: 10px;
}

#info ul li{
  margin-left: 50px;
  list-style: none;
}

.linkedin{
  font-size: 30px;
}

.copyright{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 15px;
  margin-left: 50px;
}

.Heart{
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 600ms;
  color: pink;
}

.Heart:hover{
  color: red;
}
.tu{
  margin-bottom: 8px;
}

.A{
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* Button Incrementer */

.Even{
  color: pink;
}

.Odd{
  color: red;
}













