body{
  margin: 1;
  align-items: center;
}

header{
  align-items: center;
}

section{
  padding:200px 0;
  
}

figure{
  margin: 0;
}



main nav{
  padding-bottom: 50px;
  padding-left: 5px;
  text-decoration: none;
}

main nav a{
  text-decoration: none;
  padding: 10px;
  background-color:black;
  color: white;
  border-radius: 10px;
}

main h1{
  padding-left: 110px;
}

footer{
  padding:200px 0;
}

html{
  scroll-behavior: smooth;
}

table, th, td {
  border: 1px solid black;
}

button{
  background-color: black;
  border-radius: 10px;
  font-style: bold;
  border: none;
  cursor: pointer;
  padding: 20px;
  width: 300px;
}
 button a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
 }





