@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@1,300&display=swap');


/* The whole website */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  background-color: #efebec;
  font-family: 'Poppins', sans-serif;
}

::selection{
  background-color: rgb(255, 255, 255);
  color: black;
}


/* The navigation bar/Name, biography, hobbies, best movies, attributions and contact*/

main#navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 4%; */
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}



/* Logo */

#navigation img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

/* BIOGRAPHY, HOBBIES, BEST MOVIES, ATTRIBUTIONS */


 #navigation li{
  display: inline-block;
  align-items: center;
  justify-content: center
 }

 #navigation li a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: all 300ms;
  padding: 10px 20px;
  margin-left: 20px;
}


#navigation nav a:hover{
  color: darkred;
}

#navigation nav a:active{
  opacity: 0.7;
}

/* CONTACT */

.contact{
  border-radius: 10px;
  padding: 8px 25px;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 600ms;
}

.contact:hover{
  background-color: white;
  color: black;
}


.contact:active{
  opacity: 0.5;
}


/* About me section */


header#About_me{
  height:100vh;
  width: 100%;
  background-image: url(./Images/neom-9hWJs7iblh8-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#About_me{
  display: flex;
  justify-content: center;
  align-items: center;
}

#About_me img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
  border: black 5px solid;
  margin: 0px 30px 0px 100px;
}

/* H2 and Paragraph */

#About_me h2{
  font-size: 50px;
  color: white;
  margin-top: 35px;
}

#About_me p{
  font-size: 15px;
  color: white;
  margin-right: 100px;
}

@media (max-width: 768px){
  header#About_me{
    height:210vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1701174733888-516759aa5511?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #About_me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #About_me img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: black 5px solid;
    margin: 0px 30px 0px 30px;
  }
  #About_me h2{
    margin: auto;
    font-size: 50px;
    color: white; 
    text-align: center;
  }
  
  #About_me p{
    margin: 0px 30px 0px 40px;
    font-size: 15px;
    color: white;
  }
}

@media (max-width: 1600px) {
  main#About_me{
    height:160vh;
    width: 100%;
    background-image: url(./Images/neom-9hWJs7iblh8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}





/* The biography button that leads to hobbies section */


section#Biography{
  padding:300px 0;
}

.B{
  display: flex;
  align-items: center;
  justify-content: center;
}

.B h2{
  font-size: 90px;
  margin-top: 150px;
}

@media all and (max-width: 1600px){
  .B h2{
    font-size: 90px;
    margin-top: 10px;
  }
}

.B h2 a{
  text-decoration: none;
  color: black;
  transition: all 500ms;
}

.B h2 a:hover{
  padding: 0 50px;
  padding-bottom: 10px;
  border-radius: 300px;
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
}

/* The Hobbies section using DISPLAY GRID*/

section#Hobbies{
  padding: 250px 0;
}

.H{
  text-align: center;
  margin: auto;
}

.H h3{
  font-size: 90px;
  margin-bottom: 20px;
  margin-top: 100px;
}


.H ul{
  display: grid;
  gap: 2rem;
}

.H li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: all 500ms;
  background-color: white;
  padding: 8px;
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
  overflow: hidden;
  border-radius: 10px;
  
  --initialTextColor: black;
  --slideTextColor: white;

  --initialBgColor: white;
  --slideBgColor: black;

  color: var(--initialTextColor);

  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 200%;
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
  transition-delay: 0.0s, 0.15s;
}

.H li a:hover{
  border: silver;
  padding: 15px;
  background-color: black;
  color: white;
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}
@media (max-width: 1600px){
  .H h3{
    font-size: 90px;
    margin: auto;
  }
}

/* The Best Movies Section using DISPLAY FLEX */


section#Best_Movies{
  padding: 250px 0;
}

.BM{
  text-align: center;
}


.BM h3{
  margin-bottom: 50px;
  font-size: 90px;
  margin-top: 100px;
}

@media all and (max-width: 1600px){
  .BM h3{
    margin: auto;
    font-size: 90px;
  }
}

.BM ol{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  justify-content: center;
}


.BM a{
  color: black;
  text-decoration: none;
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
  font-weight: bold;
  padding: 8px;
  font-size: 20px;
  transition: all 500ms;
  overflow: hidden;
  border-radius: 10px;
}

.BM li a:hover{
  background-color: black;
  color: white;
  padding: 23px;
 
}


/* The Attribution/Tables section */

section#Attributions{
  padding: 300px 0;
}

@media all and (max-width: 1600px){
  section#Attributions{
    padding: 150px 0;
  }
}

.T{
  margin: auto;
}


.T h3{
  margin-bottom: 40px;
  text-align: center;
  font-size: 90px;
}


.T table{
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
}


.T th, td{
  padding: 10px 25px;
}

.T th{
  color: white;
  background-color: #000000;
}



.second_row td{
 background-color: rgb(207, 204, 204);
}

table{
  border-collapse: collapse;
  margin: auto;
}



/* "GO TO IMAGE LINK */

.T a{
  text-decoration: none;
}


/* The last section(footer) of the portfolio website, Contact information */

footer#Contact{
  padding: 150px 0;
}

.CI{
  margin: auto;
}

.CM{
  color: black;
  display: grid;
  gap: 2rem;
}

.CM h2{
  font-size: 50px;
  text-align: center;
}

/* FIRST NAME, LAST NAME, EMAIL ADDRESS, COMMENTS/QUESTIONS */

input[type=text]{
  width: 300px;
  margin: 8px 0;
  border-radius: 4px; 
}

.inputs{
  display: grid;
  gap: 5px;
  margin:auto;
}

.first_name{
  width: 200px;
  height: 30px;
  border: grey 1px solid;
}


.last_name{
  width: 100%;
  height: 30px;
  border: grey 1px solid;
}

.email{
  width: 100%;
  height: 30px;
  border: grey 1px solid;
}

.comments{
  width: 100%;
  height: 100px;
  border: grey 1px solid;
}

/* SEND MESSAGE BUTTON */

.SM{
  margin-top: 20px;
  color: white;
  background-color: #33b864;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  transition: all 300ms;
  
  
}

.inputs a{
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.SM:hover{
  padding: 15px;
  box-shadow: rgba(2,8,20,0.1) 0px 0.35em 1.175em, rgba(2,8,20,0.8) 0px 0.175em 0.5em;
  transform: translateX(2px) translateY(-2px) scale(1.1);
}

.SM:active{
  padding: 10px;
  transform:scale(1);
}

/* Javascript for loops and even or odd */

footer#Js{
  min-width: 100px;
  min-height: 100px;
  padding: 150px 0;
}

.forloop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.even{
  margin-bottom: 3px;
}

.odd{
  color: grey;
  margin-bottom: 3px;
}


/* Footer #2 for copyright and contact information */


footer#info{
  padding: 30px 0;
  background-color: #021d2f;
}

.more_information{
  color: white;
}

.more_information h3{
  margin-left: 20px;
  margin-bottom: 10px;
}

.more_information ul li{
  margin-left: 50px;
  list-style: none;
}

.linkedin{
  font-size: 30px;
}

.copyright{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 15px;
  margin-left: 50px;
}

.pt{
  margin-bottom: 10px;
}

.thumb{
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 600ms;
  color: pink;
}

.thumb:hover{
  color: red;
}
.tu{
  margin-bottom: 8px;
}

.A{
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.Even{
  color: pink;
}

.Odd{
  color: red;
}













